.announce {
  display: grid;
  grid-template-columns: 43.1% 1fr;
  padding-top: 50px;
  padding-bottom: 106px;

  @include vp-1199 {
    grid-template-columns: minmax(43%, auto) minmax(min-content, 500px);
    padding-top: 40px;
    padding-bottom: 102px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    max-width: 500px;
    padding-top: 70px;
    padding-bottom: 64px;
  }
}

.announce__wrapper {
  display: flex;
  justify-content: center;
  background-color: $color-torch-red;
}

.announce__text-wrapper {
  display: grid;
  grid-template-columns: 58.6% 1fr;
  gap: 16px 50px;
  padding: 80px 79px 89px;

  @media (max-width: 1250px) {
    padding: 70px 79px 78px;
  }

  @include vp-1199 {
    grid-template-columns: 58.1% 1fr;
    gap: 2px 29px;
    margin: auto;
    padding: 46px 45px 50px;
  }

  @include vp-767 {
    padding: 47px 45px 49px;
  }
}

.announce p {
  grid-column: 1 / 2;
  margin: 0;
  margin-top: 5px;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 82px;
  line-height: 79px;
  letter-spacing: 0.03em;
  color: $color-white;
  text-align: center;
  word-break: break-word;

  @include vp-1199 {
    font-size: 48px;
    line-height: 46px;
  }

  @include vp-767 {
    margin-bottom: 3px;
  }
}

.announce dl {
  grid-column: 2 / 3;
  justify-self: self-end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.announce dt {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 27px;
  color: $color-white;

  @include vp-1199 {
    margin-bottom: 1px;
    font-size: 12px;
    line-height: 18px;
  }
}

.announce dd {
  display: flex;
  align-items: center;
  gap: 7px;
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: $color-white;
  border-top: 1px solid $color-white;

  @include vp-1199 {
    gap: 4px;
    font-size: 24px;
    line-height: 32px;
  }

  &:not(:last-of-type) {
    margin-bottom: 16px;

    @include vp-1199 {
      margin-bottom: 0;
    }
  }
}

.announce h2 {
  grid-column: 1 / -1;
  margin: 0;
  margin-bottom: 28px;
  margin-left: -3px;
  font-size: 18px;
  line-height: 27px;
  color: $color-white;

  @include vp-1199 {
    margin-bottom: 30px;
    margin-left: 0;
    font-size: 12px;
    line-height: 18px;
  }
}

.announce span {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @include vp-1199 {
    font-size: 10px;
    line-height: 12px;
  }
}

.announce__button {
  grid-column: 1 / -1;
  align-self: self-end;
  padding: 25px 30px 24px;

  @include vp-1199 {
    padding: 13px 20px 11px;
    font-size: 10px;
    line-height: 12px;
  }

  &:active {
    opacity: 0.45;
  }
}

.announce img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  @include vp-1199 {
    min-width: 386px;
  }

  @include vp-767 {
    min-width: unset;
    height: auto;
  }
}
