.contacts {
  padding: 56px calc(100% - 590px) 64px 120px;
  border-top: 1px solid $color-light-slate-grey;

  @include vp-1199 {
    padding: 62px 100px 64px 133px;
  }

  @include vp-767 {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}

.contacts h2 {
  margin: 0;
  margin-bottom: 37px;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin-bottom: 31px;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    margin-bottom: 34px;
    font-size: 32px;
    line-height: 38px;
  }
}

.contacts__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: start;
  gap: 18px 113px;
  margin: 0;
  padding-left: 5px;

  @include vp-1199 {
    gap: 18px 93px;
    padding-left: 0;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 19px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    right: 50%;
    bottom: 6px;
    width: 1px;
    background-color: $color-light-slate-grey;

    @include vp-767 {
      content: none;
    }
  }
}

.contacts__group {
  display: grid;
  justify-items: start;
  gap: 18px;

  @include vp-767 {
    gap: 19px;
  }
}

.contacts__item dt {
  margin-bottom: 3px;
  font-weight: 700;

  @include vp-1199 {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 30px;
  }
}

.contacts__item dd {
  margin: 0;
  font-size: 14px;
  line-height: 21px;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }
}

.contacts__item address {
  font-style: normal;
}

.contacts__item a {
  transition: opacity $trans-default;

  &:hover {
    opacity: 0.7;
  }

  &:focus-visible {
    outline: 2px solid $color-sapphire;
    outline-offset: 4px;
  }

  &:active {
    opacity: 0.4;
  }
}
