.tariffs {
  position: relative;
  background-image: $transparent-white--to-top-desktop;
  overflow: hidden;

  @include vp-1199 {
    background-image: $transparent-white--to-top-tablet;
  }

  @include vp-767 {
    background-image: none;
    background-color: $color-ghost-white;
  }
}

.tariffs__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 122px;
  padding-bottom: 190px;

  @include vp-1199 {
    padding-top: 102px;
    padding-bottom: 160px;
  }

  @include vp-767 {
    padding-top: 63px;
    padding-bottom: 70px;
  }

  &::after {
    content: "";
    position: absolute;
    right: -167px;
    bottom: -25px;
    background-repeat: no-repeat;
    transform: rotate(150deg);

    @media (min-width: $vp-1200) {
      width: 321px;
      height: 384px;
      background-image: url("../img/tariffs/disks-desktop.png");
      background-size: 321px 384px;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/tariffs/disks-desktop@2x.png");
      }

      @supports (background-image: url("../img/tariffs/disks-desktop.webp")) {
        background-image: url("../img/tariffs/disks-desktop.webp");

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/tariffs/disks-desktop@2x.webp");
        }
      }
    }

    @media (max-width: ($vp-1200 - 1px)) and (min-width: $vp-768) {
      right: -9px;
      bottom: -15px;
      width: 289px;
      height: 345px;
      background-image: url("../img/tariffs/disks-tablet.png");
      background-size: 289px 345px;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/tariffs/disks-tablet@2x.png");
      }

      @supports (background-image: url("../img/tariffs/disks-tablet.webp")) {
        background-image: url("../img/tariffs/disks-tablet.webp");

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/tariffs/disks-tablet@2x.webp");
        }
      }
    }

    @media (max-width: ($vp-768 - 1px)) and (min-width: 320px) {
      background-image: none;
    }
  }
}

.tariffs h2 {
  margin: 0;
  margin-right: 4px;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 54px;
  line-height: 62px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin-right: 11px;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
  }
}

.tariffs__buttons-wrapper {
  width: 29.5%;
  margin-bottom: 38px;
  background-image: $grey-transparent--to-top;
  overflow-y: auto;

  @include vp-1199 {
    width: 49%;
    margin-bottom: 44px;
  }

  @include vp-767 {
    width: 100%;
    max-width: 400px;
    margin-bottom: 34px;
  }
}

.tariffs__buttons {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
  overflow-y: auto;
}

.tariffs__button {
  height: 100%;
  padding: 18px 2px 13px;
  font-size: 20px;
  line-height: 30px;
  color: $color-sapphire--50;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity $trans-default, color $trans-default;

  @include vp-1199 {
    padding-top: 20px;
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    padding: 21px 0 15px;
    font-size: 16px;
    line-height: 24px;
  }

  &.is-active {
    position: relative;
    color: $color-sapphire;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background-color: $color-crimson;
    }
  }

  &:hover {
    color: $color-sapphire;
    opacity: 0.8;
  }

  &:focus-visible {
    outline: 2px solid $color-sapphire;
    outline-offset: -2px;
  }

  &:active {
    color: $color-sapphire;
    opacity: 0.6;
  }
}

.tariffs__tabs {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tariffs__tab:not(.is-active) {
  display: none;
}

.tariffs__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  list-style: none;

  @include vp-1199 {
    grid-template-columns: 1fr;
    gap: 40px;
    width: 65.1%;
    margin: 0 auto;
  }

  @include vp-767 {
    gap: 35px;
    width: 100%;
    max-width: 400px;
  }
}
